<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Based</title>
</head>
<body>

    <h3>Hello world...</h3>
    <h4>{{ mssg }}</h4>    
    {% if name %}
        <p> {{name}} </p>
        {% else %}
        <div>
            <form action="" method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">submit</button>
            </form>
        </div>
    {% endif %}
</body>
</html>