<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is not okay</title>
</head>
<body>
    {% comment %} this will work for default list view {% endcomment %}
    {% comment %} {% for student in student_list  %}
        {{ student.id }}
        {{ student.name }}
        {{ student.roll }}
        {{ student.course }}
        <br />
    {% endfor %} {% endcomment %}

{% comment %} this will work for custom list view {% endcomment %}
    {% for student in students  %}
        <a href="{% url 'ClassBasedView:DetailStudentView' student.id %}">
            {{ student.id }}
            {{ student.name }}
            {{ student.roll }}
            {{ student.course }}

        </a>
        <br />
    {% endfor %}
</body>
</html>