<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        form{
            width: 400px;
            margin: 5em auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1em;
        }
    </style>
</head>
<body>
    <h2>Personal Information</h2>

    <form method='POST' action='{% url 'DjangoForms:NormalForm' %}'>
        {% csrf_token %}
        {{ form }}        
        <button type = 'Submit'> Submit </button>
    </form>

</body>
</html>