<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        form{
            width: 400px;
            margin: 5em auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1em;
        }
    </style>
</head>
<body>
    <h2>Create Blog</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action= "" method="post" class="frm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>    
    </form>
</body>
</html>