{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block stylesheet %} 
    <link rel="stylesheet" href="{% static 'styles/custom_index.css' %}" />
{% endblock stylesheet %}

{% block profile %}
    {% if is_loggedin %}
        
        <li class="nav-item mx-3 ">
            <div class="dropdown ">
                <img class="nav-profile" src="{{ active_user.profile_image.url }}" alt="#"
                id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"  href="{% url 'account:Profile' active_user.id  %}">Account</button>
                    <a class="dropdown-item" href="{% url 'account:Logout' %}">Logout</button>
                </div>
               
            </div>
            <a class="nav-link" href="#">
                
            </a>
        </li>
    {% endif %}
{% endblock profile %}


{% block body %}
{% comment %} style="border:1px solid crimson" {% endcomment %}
        {% if is_loggedin %}
            <div class="container mt-4">
                <div class='d-flex justify-content-between align-items-center chat-header'>
                    <h2> Public Chat Room </h2>
                    <p class='d-flex justify-content-between align-items-center' style="width: 8%"> 
                        <img src="{% static 'assets/site-icons/active_users.png' %}" alt="#" /> 
                        <span style="color: crimson; font-size: 1.3rem;">(2)</span>
                    </p>
                </div>
                <div class="container chat-box">
                    {% comment %} <p class="single-mssg"> 
                        <img src="{% static 'assets/site-icons/active_users.png' %}" alt='#' /> 
                        Hello I just join the chat 
                    </p> {% endcomment %}
                </div>
                <form class='mssg-frm'>
                    <input type="text" name="message" placeholder='type...'/>
                    <button> <img src="{% static 'assets/site-icons/sent-btn.png' %}" alt="#" /> </button>
                </form>
            </div>
            {% else %}
            <h2>Login to start chat</h2>
            
        {% endif %}
        


        <script  src="{% static 'js/public_chat.js' %}"></script>
{% endblock body %}