<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassBasedViews</title>
</head>
<body>
    <h2>Welcome I am learning django</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, 
        assumenda eaque ab explicabo dignissimos consectetur corrupti atque totam adipisci cupiditate
        officiis esse tenetur inventore quia molestias neque quae sunt velit?
    </p>
</body>
</html>